@charset  "UTF-8";

/* 
Paleta de cores:
Azul escuro: #154EA3
Bege: #F0C878
*/

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    background-image: linear-gradient(to bottom, #154EA3, #F0C878);
}

div {
    display: block;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.256);
    transition: width .3s, height .3s;
}

div#imagem {
    background-image: url("../imagens/metal.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 200px;
}

div#formulario {
    padding: 10px;
}

div > h1 {
    padding: 5px;
    text-align: center;
}
div > p {
    padding: 10px;
    font-size: 12px;
}

form input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #154EA3;
    color: white;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}

div.campos {
    background-color: #F0C878;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    height: 50px;
}

div.campos > label > span {
    color: #0d3166;
    transform: translateY(15%);
}

div.campos > input {
    width: calc(100% - 30px);
    height: calc(100%);
    padding: 15px 5px;
    font-size: 16px;
    background-color: #a6b6cd;
    border-radius: 5px;
}

div.campos > input:focus-within {
    background-color: white;
}

form input[type=submit]:hover {
    background-color: #1b67d8;
}

div > a {
    display: block;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #154EA3;
    color: #154EA3;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
}

div > a:hover {
    background-color: #1b67d8;
    color: white;
}

form > div > label > p {
    display: none;
}

footer {
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 40px;
    transform: translate(0%, -100%);
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
}

footer > p {
    text-align: center;
    font-size: 12px;
}

footer > p > small > a {
    text-decoration: none;
    color: #154EA3;
    font-weight: bolder;
    font-size: 12px;
}

footer > p > a:hover {
    color: #F0C878;
}

